QDRANT_ADDRESS=http://qdrant-db:6333
QDRANT_MEMORY_COLNAME=users_memory
QDRANT_BASE_COLNAME=docs_base
MAX_MEMORY_CONTEXT=3
MAX_DOC_CONTEXT=3
DENSE_VEC_SIZE=768


LLM_ADDRESS=http://localhost:8090/v1
LLM_MODEL_NAME=Qwen3.5-4B-UD-Q5_K_XL.gguf

EMB_ADDRESS=http://localhost:8091/v1
EMB_MODEL_NAME=ggml-org_embeddinggemma-300M-qat-q4_0-GGUF_embeddinggemma-300M-qat-Q4_0.gguf
